version: '3'    
    
services:    
  e2e:    
    build:    
      context: ../.
      dockerfile: ./misc/Dockerfile    
    environment:
      CONNECTION_STRING: "host=e2e-db port=5432 user=algorand password=algorand dbname=indexer_db sslmode=disable"

  e2e-db:
    image: "postgres:13-alpine"
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: algorand
      POSTGRES_PASSWORD: algorand
      POSTGRES_DB: indexer_db


