# Build artifacts
cmd/algorand-indexer/algorand-indexer
cmd/conduit/conduit
api/.3tmp.json
api/generate
tmp/
./conduit-docs/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of fixtures_test.go
_*.json

# Dependency directories (remove the comment below to include it)
# vendor/

# emacs
*~

# Python
__pycache__
e2e_tests/dist
e2e_tests/build
e2e_tests/*egg-info*
.venv

# jetbrains IDE
.idea

# VS Code
.vscode

.deb_tmp
.tar_tmp
*.deb
*.tar.bz2

coverage.txt

# mac OS
.DS_store

# asdf
.tool-versions

# conduit example
cmd/conduit/data
