# Build artifacts
cmd/algorand-indexer/algorand-indexer
api/.3tmp.json
api/generate
tmp/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# emacs
*~

# Python
__pycache__

# jetbrains IDE
.idea

.deb_tmp
.tar_tmp
*.deb
*.tar.bz2

coverage.txt

# mac OS
.DS_store

# asdf
.tool-versions
