version: 2.1

orbs:
  go: circleci/go@1.7.0
  slack: circleci/slack@4.7.1

parameters:
  ubuntu_image:
    type: string
    default: "ubuntu-2004:202107-02"

workflows:
  version: 2
  circleci_build_and_test:
    jobs:
      - test:
          name: test_with_go_<< matrix.go_version >>
          matrix: &go-version-matrix
            parameters:
              go_version: ["1.14.7", "1.15.15"]

  circleci_build_and_test_nightly:
    triggers:
      - schedule:
          cron: "37 3 * * *"
          filters:
            branches:
              only: develop
    jobs:
      - test_nightly:
          name: nightly_test_with_go_<< matrix.go_version >>
          context: slack-secrets
          matrix: &go-version-matrix
            parameters:
              go_version: ["1.14.7", "1.15.15"]
jobs:
  test:
    machine:
      image: << pipeline.parameters.ubuntu_image >> 
    parameters:
      go_version:
        type: string
    steps:
      - go/install:
          version: << parameters.go_version >>
      - install_dependencies
      - run_tests
      - upload_coverage
  test_nightly:
    machine:
      image: << pipeline.parameters.ubuntu_image >> 
    parameters:
      go_version:
        type: string
    steps:
      - go/install:
          version: << parameters.go_version >>
      - install_dependencies
      - run_tests_nightly
      - upload_coverage
      - slack/notify: &slack-fail-event
          event: fail
          custom: | 
            { 
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Failed: $CIRCLE_USERNAME's build of \n<$CIRCLE_BUILD_URL|$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME>\n(<https://app.circleci.com/pipelines/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME?branch=$CIRCLE_BRANCH|$CIRCLE_BRANCH>) \n- <$CIRCLE_BUILD_URL|$CIRCLE_JOB> failed\n\nThis is probably a result of `make indexer-v-algod`\nSee <https://algorand.atlassian.net/wiki/spaces/LAMPREY/pages/2339536905/Nightly+Indexer+Tests#Q%3A-What-does-it-mean-that-the-nightly-test-failed-because-of-make-indexer-v-algod%3F|this wiki page> for more details"
                  }
                }
              ]
            }

commands:
  install_dependencies:
    description: prepare machine for next steps
    steps:
      - checkout

      - run:
          name: Install python and other python dependencies
          command: |
            sudo apt update
            sudo apt -y install python3 python3-pip python3-setuptools python3-wheel libboost-all-dev libffi-dev
            pip3 install -r misc/requirements.txt

      - run:
          name: sync submodules (go-algorand)
          command: |
            git submodule sync
            git submodule update --init

      - run: echo 'export PATH=$PATH:/usr/local/go/bin' >> $BASH_ENV

      - run: 
          name: Install golint
          command: go get -u golang.org/x/lint/golint

  run_tests:
    steps:
      - run: test -z `go fmt ./...`
      - run: make lint
      - run: make check
      - run: make integration
      - run:
          command: make test
          no_output_timeout: 15m
      - run: make test-generate
      - run: make fakepackage
      - run: make e2e

  run_tests_nightly:
    steps:
      - run: test -z `go fmt ./...`
      - run: make lint
      - run: make check
      - run: make integration
      - run:
          command: make test
          no_output_timeout: 15m
      - run: make test-generate
      - run: make fakepackage
      - run: make e2e
      - run: make indexer-v-algod

  upload_coverage:
    description: Collect coverage reports and upload them
    steps:
      - run:
          name: Upload Coverage Reports
          no_output_timeout: 10m
          command: |
            scripts/upload_coverage.sh || true
